@import 'tailwindcss';
html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}